{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-bg">
  <div class="col-md-12">
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <section class="py-5">
    <article id="hero" class="text-center">
      <h1 class="display-4 fw-bold mb-3">SPECIAL OFFER</h1>
      <p class="lead">
        30% Off This Weekend
      </p>
      <a href="{% url 'book' %}" class="btn btn-primary btn-lg"> Book now </a>
    </article>
  </section>

  <section class="py-5">
    <div class="row">
      <div class="col-md-4">
        <article class="text-center mb-4">
          <h2 class="fw-bold">Our New Menu</h2>
          <img src="{% static 'img/menu.png' %}" alt="New Menu" class="img-fluid rounded shadow">
          <p class="mt-3">
            Our menu
          </p>
          <a href="{% url 'menu' %}" class="btn btn-secondary">See our new menu</a>
        </article>
      </div>

      <div class="col-md-4">
        <article class="text-center mb-4">
          <h2 class="fw-bold">Book a Table</h2>
          <img src="{% static 'img/bookatable.png' %}" alt="Book a Table" class="img-fluid rounded shadow">
          <p class="mt-3">
            Reserve your table
          </p>
          <a href="{% url 'book' %}" class="btn btn-secondary">Book your table now</a>
        </article>
      </div>

      <div class="col-md-4">
        <article class="text-center mb-4">
          <h2 class="fw-bold">Opening Hours</h2>
          <img src="{% static 'img/we-are-open.jpg' %}" alt="Opening Hours" class="img-fluid rounded shadow">
          <p class="mt-3">
            7 days a week, except for public holidays.
          </p>
          <ul class="list-unstyled">
            <li>Mon - Fri: 2pm - 10pm</li>
            <li>Sat: 2pm - 11pm</li>
            <li>Sun: 2pm - 9pm</li>
          </ul>
        </article>
      </div>
    </div>
  </section>

</div> 
{% endblock %}